<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChartsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C23C42AE1F00B6C5004AF7F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C23C42CA1F00B6C5004AF7F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C23C42D51F00B6C5004AF7F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
